body {
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
}

.navbar {
  background-color: rgb(128, 0, 128);
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-brand img {
  width: 200px;
  height: 100px;
  margin-left: -10px;
  border-radius: 10px;
}

.navbar .nav-link {
  color: #ffffff !important;
  font-size: 25px;
  margin-left: 20px;
  transition: color 0.2s;
}

.navbar .nav-link:hover {
  color: #00bfff !important;
}

.navbar .nav-link.active {
  color: #00bfff !important;
  font-weight: bold;
}

.search-icon {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto; /* Ensure it stays on the right */
}

.search-bar-popup {
  background-color: black;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  z-index: 1000;
}

.search-bar-popup .form-control {
  width: 100%;
  border-radius: 25px;
}

@media (max-width: 8000px) {
  .navbar-brand img {
    width: 160px;
    height: 80px;
    margin-left: 0;
  }

  .navbar .nav-link {
    margin: 5px 10px;
    font-size: 22px;
  }
  .search-icon {
    order: -1;
    margin-right: -300px;
    margin-left: 300px;
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .navbar {
    height: auto;
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  .navbar-brand img {
    width: 120px;
    height: 60px;
    margin-left: 0;
  }

  .navbar .nav-link {
    margin: 5px 10px;
    font-size: 20px;
  }

  .search-icon {
    order: -1;
    margin-right: 0;
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 840px) {
  .navbar {
    justify-content: center;
  }

  .navbar .nav-link {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .search-icon {
    font-size: 24px;
    margin-top: 10px;
  }
}

@media (max-width: 726px) {
  .navbar {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .navbar-brand img {
    width: 80px;
    height: 80px;
  }

  .navbar .nav-link {
    margin: 5px 0;
    font-size: 18px;
  }

  .search-icon {
    font-size: 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navbar-brand img {
    width: 60px;
    height: 60px;
  }

  .navbar .nav-link {
    margin: 5px 0;
    font-size: 18px;
  }

  .search-icon {
    font-size: 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
