body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.heading-container {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    color: purple;
    margin: 0;
    font-size: 2rem;
}

.blood-banks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.blood-bank-card {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    border: 2px solid purple;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: white;
}

.blood-bank-card:hover {
    transform: translateY(-10px);
}

.blood-bank-card .card-content {
    padding: 15px;
}

.blood-bank-card .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
    color: purple;
}

.blood-bank-card .card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
    text-align: center;
}

.blood-bank-card .btn-primary {
    background-color: rgb(192, 120, 192);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.2s;
    display: block;
    margin: 0 auto;
}

.blood-bank-card .btn-primary:hover {
    background-color: rgb(104, 50, 104);
}
.blood-groups-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .blood-groups-list li {
    margin-left: 0; 
  }
  

@media (max-width: 1024px) {
    .blood-bank-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .blood-bank-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .blood-bank-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
